[submodule "project-1"]
	path = project-1
	url = https://github.com/davidsmithmke/nand2tetris-project1.git
[submodule "project-2"]
	path = project-2
	url = https://github.com/davidsmithmke/nand2tetris-project2.git
[submodule "project-3"]
	path = project-3
	url = https://github.com/davidsmithmke/nand2tetris-project3.git
[submodule "project-4"]
	path = project-4
	url = https://github.com/davidsmithmke/nand2tetris-project4.git
[submodule "project-5"]
	path = project-5
	url = https://github.com/davidsmithmke/nand2tetris-project5.git
